altgraph==0.17.4
astroid==3.0.1
certifi==2023.7.22
charset-normalizer==3.3.1
colorama==0.4.6
colorlog==6.7.0
dill==0.3.7
idna==3.4
isort==5.12.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==23.2
pefile==2023.2.7
platformdirs==3.11.0
Pygments==2.16.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pylint==3.0.2
pymodbus==3.5.4
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32-ctypes==0.2.2
requests==2.31.0
rich==13.6.0
setuptools==68.2.2
tomlkit==0.12.2
urllib3==2.0.7
